/*COLORES*/
/*============== MIXING ==============*/
/*============= Margenes ==================*/
.margin-tb {
  margin: 10px 0 !important;
}
.margen-left {
  margin-left: 10px;
}
.margen-left2 {
  margin-left: 20px;
}
.margen-right {
  margin-right: 10px;
}
.margen-right2 {
  margin-right: 20px;
}
/*============= PADDING ================*/
.pad-all {
  padding: 20px;
}
.pad-sides {
  padding: 0 20px;
}
.pad-tb {
  padding: 20px 0;
}
.pad-left {
  padding: 0 0 0 20px;
}
section {
  margin-bottom: 30px;
}
.gridResponsive {
  margin-bottom: 20px;
  padding: 0;
  overflow: hidden;
}
.gridResponsive [class*="column"] {
  background: none repeat scroll 0 0 #CCCCCC;
  height: 200px;
}
h1,
h2,
h3,
h4 {
  margin-bottom: 10px;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 24px;
  color: #662869;
}
h3 {
  font-size: 18px;
}
h4 {
  font-size: 16px;
}
.syntaxhighlighter {
  height: 200px;
}
.codeHtml {
  float: left;
  width: 100%;
}
/*Filtro de busqueda en grilla*/
.filtro-busqueda .form-control {
  display: inline-block;
  position: relative;
  width: 200px;
}
.filtro-busqueda {
  font-size: 12px;
  padding: 10px 0px;
  text-align: right;
}
.filtro-busqueda label {
  padding: 0 10px;
}
dd > dl {
  margin: 10px;
}
dd > dl > dd {
  margin-bottom: 10px;
}
dl > dd {
  margin-bottom: 20px;
}
/*busqueda avanzada*/
.busqueda-avanzada {
  border: none;
  border-radius: 5px;
  float: left;
  min-height: 100px;
  width: 100%;
}
.busqueda_panel {
  background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
  float: left;
  padding: 20px;
  width: 100%;
}
