@import url("variables.less");

.icon-medium {
    background-color: #999999;
    background-image: url("../../img/icon-mid-lateral.png");
    border-radius: 100%;
    float: left;
    height: 20px;
    margin-right: 10px;
    margin-top: -2px;
    width: 20px;
}


.icon-small{

	background-color: #999999;
    border-radius: 100%;
    float: left;
    height: 16px;
    margin-right: 10px;
    margin-top: 0;
    width: 16px;

}

.icon-small.f-right {
    margin: 0 0 0 10px;
}


.ico-ult-mov{
	background-position: 0 center;
}

.ico-saldos{
	background-position: -20px center;
}
.ico-cuentas{
	background-position: -40px center;

}
.ico-linea{
	background-position: -60px center;

}

.ico-tarjeta{
	background-position: -80px center;
}

.ico-trans{
	background-position: -100px center;
}

.ico-creditos{
	background-position: -120px center;
}

.ico-seguros{
	background-position: -140px center;
}

.ico-inversiones{
	background-position: -160px center;
}

.ico-serv{
	background-position: -180px center;
}


.x-small {
    background: none repeat scroll 0 0 #ddd;
    display: inline-block;
    height: 16px;
    margin: 0 10px -3px 0;
    width: 16px;
}

.ico-puntos{
	background: url(../../img/puntos.png) no-repeat center;
	margin-right: 5px;
}

.ico-perfil{
	background: url(../../img/perfil.png) no-repeat center;
	margin-right: 5px;
}

.ico-close{

	background: url(../../img/close.png) no-repeat center;
	margin-right: 5px;
}

.anterior{
	width: 0; 
	height: 0; 
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-right: 6px solid @color-gd;
	background: none;
	border-radius: 0;
	margin-top: 5px !important;
	display: block;
}

.siguiente{
	width: 0; 
	height: 0; 
	border-top: 4px solid transparent;
	border-bottom: 4px solid transparent;
	border-left: 6px solid @color-gd;
	background: none;
	border-radius: 0;
	margin-top: 5px !important;
	display: block;

}


.icon-medium.search {
    display: block;
    float: none;
    margin: 0 auto;

}
.search{
	background: url(../../img/search_icon.png) no-repeat center;
}
